
#home-cont{
    max-width: 100%;
    max-height: 100%;
    overflow:hidden;
    position: absolute;

}

.homeimg{
    height: auto;
    max-width: 100%;

}



/*! Profile image styling */
.header-img {
    z-index:100;
    position:absolute;
    color:white;
    font-size:60px;
    left:10px;
    top:50px;
    letter-spacing: -1px;
    border-bottom: solid 3px;
    padding: 10px;
}

/*! Profile image styling */
.quote-img{
    position:absolute;
    color:white;
    font-size:15px;
    right:15px;
    top:550px;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

/*! Profile image styling */
.link-img{
    position:absolute;
    color:white;
    font-size:15px;
    left:15px;
    top:180px;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

/*! Profile image styling for link*/
.link-img:hover{
    color:#004A7F;
    text-decoration: none;
}

.get-started-button{
    position:absolute;
    color:#fff;
    font-size:25px;
    left:60px;
    top:170px;
    letter-spacing: -1px;
    border-radius: 10px;
    border: 2px solid #004A7F;
    background: #004A7F;
    padding-left: 20px;
    padding-right: 20px;
}

.get-started-button:hover{
    text-decoration: none !important;
    color:#fff !important;
    border: 2px solid #002e63 !important;
    background: #002e63 !important;

}

.get-started-button:visited{
    position:absolute;
    color:#fff;
    font-size:25px;
    left:30px;
    top:170px;
    letter-spacing: -1px;
    border-radius: 10px;
    border: 2px solid #004A7F;
    background: #004A7F;
    padding-left: 20px;
    padding-right: 20px;

}

.home-login{
    position:absolute;
    color:#004A7F;
    font-size:25px;
    left:200px;
    top:170px;
    letter-spacing: -1px;
    border-radius: 10px;
    border: 2px solid #004A7F;
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
}

.home-login:hover{
    text-decoration: none !important;
    color: #002e63 !important;
    border: 2px solid #002e63 !important;


}
/*! Section for profile information */
#profileview{
    padding-top:50px;
}

#profileview h1{
    color:#004A7F;
}

#profile-icon{

    display:inline-block
}

.profile-name{

    display:inline-block
}

.profileimg{
    width:100%
}

.profile-head{
    z-index:100;
    position:absolute;
    color:white;
    font-size:45px;
    left:10px;
    top:50px;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.profile_nav{
    margin-top:20px;
    list-style-type: none;
}

.profile_nav a:link, a:visited{
    display: block;
    width: 60%;
    padding:10px;
    margin-right:50px;
    text-decoration: none;
    color: #000;
}

.profile_nav a:hover{
    border-left: solid 3px #004A7F;
    color: #004A7F;

}

.bio h1{
    text-align:center;
    color: #004A7F;
    padding-top:20px;
    padding-bottom:20px;
}

.profile_head{
    padding:10px;
    font-size:15px;
    background-color: #004A7F;
    color: #fff;
    width:40%;
    font-weight:bold;
}
.house-alert {
    color: #004A7F;
}

.have-your-sayimg{
    float:right;
    padding-top:100px;

}

.have-button{
    position:absolute;
    left:100px;
    top:225px;
    color:#fff !important;
    font-size:25px;
    letter-spacing: -1px;
    border-radius: 10px;
    border: 2px solid #004A7F;
    background: #004A7F;
    padding-left: 20px;
    padding-right: 20px;
}

.provider-have-button{
    position:absolute;
    left:350px;
    top:225px;
    color:#fff !important;
    font-size:25px;
    letter-spacing: -1px;
    border-radius: 10px;
    border: 2px solid #004A7F;
    background: #004A7F;
    padding-left: 20px;
    padding-right: 20px;
}

.p-overlay{
    position:absolute;
    left:20px;
    top:300px;
    color:#fff;
    font-size:15px;
    letter-spacing: -1px;
    padding-left: 20px;
    padding-right: 20px;
    width:50%;
    line-height: 170%;

}

.IE-Overlay{
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    height:100%;
    width:100%;
    position:absolute;

    opacity:0.5;
    top:0px;
}

.have-button:hover{
    text-decoration: none;
    color:#fff;
    border: 2px solid #002e63;
    background: #002e63;
}

#provider-list{
    margin-left:50px;
    list-style-type: none;
}

#provider-list h1{
    text-align:center;
    color:#004A7F;
    margin-top:100px;
    margin-bottom:25px;
    padding-bottom:20px;
    border-bottom: solid 2px;
}

#provider-list a:hover{
    background-color: #004A7F;
    color: #fff;
}

.header-overlay{
    position:absolute;
    left:15px;
    top:75px;
    font-size:60px;
    color:#fff;
    margin-bottom:30px;
    border-bottom: solid 3px;
    padding:20px;
}

.providers-img{
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    height:100%;
    max-width:100%;
}

.provider-link {
    color:#fff !important;
    font-size:25px;
    letter-spacing: -1px;
    border-radius: 10px;
    border: 2px solid #004A7F;
    background: #004A7F;
    padding-left: 20px;
    padding-right: 20px;
    margin-left:32%;
}

.list-group{
    margin-top:25px;
}

#review-container{

    width:100%;
    height:100%;
    padding-top:10px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}

#review-holder{
    background-color: #fff;
    height:100%;


}

#review-wrapper{
    margin-top:100px;
    height:100%;
    margin-left:170px;
    margin-right:170px;
    background-color: #fff;
    padding:20px 10px 20px 10px;
    border-radius: 15px;
    border:1px solid #acb1b7;


}

.review-back{
    width:100%;
    height:100%;
}

.review-head{

    color:#004A7F;
    text-align:center;
    padding-bottom:10px;

}

.search{
    margin-left:5%;
    width:100%;
    background-repeat: no-repeat;
    background-size: 25px 30px;
    padding:6px 15px 6px 30px;
    border:1px solid #acb1b7;
}

.searchlabel{

    width:80%;
}

.search-button{
    position:relative;
    padding:6px 15px 6px 15px;
    background-color: #004A7F ;
    border:1px solid #acb1b7;
    color:#fff;
}

.table-review{
    border-collapse:collapse;
    width:100%;
    border:1px solid #002e63;
}

.table-review th{
    background:#004A7F;
    padding-bottom:10px;
    padding-top:5px;
    color: #fff;
    padding-left:5px;

}
.table-review td{
    padding-left:10px;
    padding-right:10px;
}

#advice-container{
    border-left:1px solid #acb1b7;
    border-right:1px solid #acb1b7;
    padding: 10px;
    margin-top:50px;
    margin-left:10%;
    margin-right:10%;
}

#advice-container h1{
    text-align:center;
    color:#004A7F;
    padding: 20px 0 20px 0;
    border-bottom: solid 1px;
    font-size: 60px;

}


.bills-table{
    margin-top:20px;
    border:solid 2px;
    text-align:center;
}

.table th{
   font-weight:bold;
    color: #fff;
    background-color: #004A7F;
}

.bills-small{
    width:100px;

    text-align:center;
}

.bills-med{
    width:110px;
    padding:5px;

    text-align:center;

}

.bills-large{
    width:150px;

    text-align:center;
}

.bio p{
    text-align:center;
}

.form-title{
    text-align:center;
    margin-top:100px;
}